extends layout

block headContent
	title Home
	
block content
	h1.h3 #{coinConfig.siteTitle}
	hr

	if (getblockchaininfo == null)
		div(class="alert alert-warning")
			p(class="font-weight-bold") Unable to get basic blockchain data
			ul
				li If you just started your node, it may still be initializing.
				li If your node is already initialized, check your RPC connection info.
	else
		div(class="card mb-4 shadow-sm")
			div(class="card-header")
				h2(class="h6 mb-0") Network Summary
			div(class="card-body")
				div(class="row")
					div(class="col-md-3")
						div(class="float-left", style="height: 40px; width: 40px; font-size: 12px;")
							span
								i(class="fas fa-globe fa-2x mr-2", style="margin-top: 6px;")

						span(class="font-weight-bold") Last Indexed Block

						p(class="lead")
							span #{getblockchaininfo.blocks.toLocaleString()}

					div(class="col-md-5")
						div(class="float-left", style="height: 40px; width: 40px; font-size: 12px;")
							span
								i(class="fas fa-hashtag fa-2x mr-2", style="margin-top: 6px;")

						span(class="font-weight-bold") Best Block Hash

						p(class="lead text-overflow-ellipsis" data-toggle="tooltip", title=getblockchaininfo.bestblockhash)
							span #{getblockchaininfo.bestblockhash}

					div(class="col-md-4")
						div(class="float-left", style="height: 40px; width: 40px;")
							span
								i(class="fas fa-clock fa-2x mr-2", style="margin-top: 6px;")
						span(class="font-weight-bold") Last Block Time

						p(class="lead")
							span #{new Date(getblockchaininfo.mediantime*1000).toUTCString()}

					div(class="col-md-3")
						div(class="float-left", style="height: 40px; width: 40px; font-size: 12px;")
							span
								i(class="fas fa-bezier-curve fa-2x mr-2", style="margin-top: 6px;")

						- var difficultyData = getblockchaininfo.difficulty_pos;

						span(class="font-weight-bold") PoS Diff

						p(class="lead")
							span #{difficultyData}

					div(class="col-md-3")
						div(class="float-left", style="height: 40px; width: 40px; font-size: 12px;")
							span
								i(class="fas fa-bolt fa-2x mr-2", style="margin-top: 6px;")

						- var difficultyData3 = getblockchaininfo.difficulty_pow;

						span(class="font-weight-bold") ProgPow Diff

						p(class="lead")
							span #{difficultyData3}

					div(class="col-md-3")
						div(class="float-left", style="height: 40px; width: 40px; font-size: 12px;")
							span
								i(class="fas fa-bolt fa-2x mr-2", style="margin-top: 6px;")

						- var difficultyData1 = getblockchaininfo.difficulty_pow;

						span(class="font-weight-bold") RandomX Diff

						p(class="lead")
							span #{difficultyData1}

					div(class="col-md-3")
						div(class="float-left", style="height: 40px; width: 40px; font-size: 12px;")
							span
								i(class="fas fa-bolt fa-2x mr-2", style="margin-top: 6px;")

						- var difficultyData2 = getblockchaininfo.difficulty_pow;

						span(class="font-weight-bold") SHA256D Diff

						p(class="lead")
							span  #{difficultyData2}

		include includes/tools-card.pug
		
		if (latestBlocks)
			div(class="card mb-4 shadow-sm")
				div(class="card-header")
					div(class="row")
						div(class="col")
							h2(class="h6 mb-0") Latest Blocks
								if (getblockchaininfo.initialblockdownload)
									small  (#{(getblockchaininfo.headers - getblockchaininfo.blocks).toLocaleString()} behind)

						div(class="col")
							span(style="float: right;")
								a(href="/blocks")
									span  Browse Blocks &raquo;

				div(class="row" style="padding-top: 7px; background-color: rgba(0, 0, 0, 0.1);")
					div(class="col-3 text-center")
						span(class="font-weight-bold") PoS (24hr)

						p(class="lead")
							span #{720} - #{50}%

					div(class="col-3 text-center")
						span(class="font-weight-bold") ProgPow (24hr)

						p(class="lead")
							span #{504} - #{35}%

					div(class="col-3 text-center")
						span(class="font-weight-bold") RandomX (24hr)

						p(class="lead")
							span #{144} - #{10}%

					div(class="col-3 text-center")
						span(class="font-weight-bold") SHA256D (24hr)

						p(class="lead")
							span #{72} - #{5}%

				div(class="card-body")

					- var blocks = latestBlocks;
					- var blockOffset = 0;

					include includes/blocks-list.pug


		if (txStats)
			div(class="card mb-4 shadow-sm")
				div(class="card-header")
					div(class="row")
						div(class="col")
							h2(class="h6 mb-0") Transaction Stats Summary

						div(class="col")
							span(style="float: right;")
								a(href="/tx-stats")
									span  Transaction Stats &raquo;
			
				div(class="card-body")
					if (true)
						div(class="row")
							div(class="col-lg-6")
								div(class="table-responsive")
									table(class="table text-right mb-4 mb-lg-0")
										thead
											tr
												th Period
												th Transactions
												th Transactions Per Sec
										tbody
											each item, index in chainTxStats
												tr(class="monospace")
													td #{chainTxStatsLabels[index]}
													td #{item.window_tx_count.toLocaleString()}
													td #{new Decimal(item.txrate).toDecimalPlaces(4)}


							div(class="col-lg-6")
								script var txRateDataDay = [];
								each item, index in txStats.txCountStats.txRates
									script txRateDataDay.push({x:#{item.x}, y:#{item.y}});

								- var graphData = {id:"graphRateDay", dataVar:"txRateDataDay", labels:txStats.txCountStats.txLabels, title:"Tx Rate, 24hr", xaxisTitle:"Block", xaxisStep:5, yaxisTitle:"Tx Per Sec"};
								include ./includes/line-graph.pug
